{% extends "base.html" %} {% block title %}Select Formula - PhysicsApp{%endblock
%} {% block content %}
<div class="max-w-2xl mx-auto bg-white p-8 rounded-lg shadow-md">
  <h1 class="text-3xl font-bold text-gray-800 mb-6">
    Selecciona el tema que Deseas
  </h1>
  <form action="/form" method="post" class="space-y-6">
    <div class="space-y-4">
      <label for="temas" class="block text-lg font-medium text-gray-700"
        >Temas de Fisica:</label
      >
      <select
        name="tema"
        id="tema"
        class="w-full p-3 border border-gray-300 rounded-md shadow-sm"
      >
        {% for tema in temas %}
        <option value="{{ tema }}">{{ tema }}</option>
        {% endfor %}
      </select>
    </div>
    <button
      type="submit"
      class="w-full bg-blue-600 text-white py-3 px-6 rounded-md hover:bg-blue-700 transition-colors duration-200"
    >
      Continuar
    </button>
  </form>
</div>
{% endblock %}
